.type1InputField {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  border: 1px solid rgba(73, 80, 89, 0.5);
  border-radius: 10px;
  width: 490px;
  height: 62px;
}
.type1InputField:focus-within {
  border: 1px solid #ff7e04;
}
.field-ctn {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 4px;
}

.first_icon {
  padding: 12px 0px 12px 12px;
}
.tittle-ctn {
}

.text-ctn {
}

.custom-input-field {
  background-color: inherit;
  border-style: none;
  width: 400px;
  padding-bottom: 10px;
}
.custom-input-field:focus-within {
  outline: none;
}
.password-input {
}
